Imports

An√°lise de Rede de Julgamentos Hist√≥ricos

Este notebook realiza uma an√°lise completa sobre uma base de dados de julgamentos hist√≥ricos. O objetivo √© carregar os dados, pr√©-process√°-los, construir um grafo de rede para representar as conex√µes entre locais e per√≠odos, e extrair insights atrav√©s de an√°lises estat√≠sticas e visuais.#

Usaremos a biblioteca `networkx` para modelar e analisar a rede, `pandas` para a manipula√ß√£o de dados e `matplotlib` para as visualiza√ß√µes. Todo o c√≥digo principal foi modularizado nos scripts da pasta `core`.#

## 1. Configura√ß√£o e importa√ß√£o

In [14]:
import sys
import os
from pathlib import Path
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np
from IPython.display import display, Markdown

# --- Configura√ß√£o de Caminhos ---
current_dir = Path.cwd()
while not (current_dir / "src").exists():
    current_dir = current_dir.parent
    if current_dir == Path("/"):
        raise FileNotFoundError("Pasta 'src' n√£o encontrada!")

src_path = current_dir / "src"
sys.path.append(str(src_path))  # Permite importar m√≥dulos do core

# --- Imports Personalizados ---
from core.data_loader import carregar_dados
from core.preprocessing import preprocessar
from core.graph_builder import construir_grafo
from core.analysis import (
    executar_analise_completa,
    calcular_taxas_mortalidade_geral,
    mostrar_taxa_mortalidade
)
from core.graph_analysis import (
    analisar_grafo,
    mostrar_nos_com_maior_grau,
    analisar_centralidades,
    densidade_rede,
    detectar_comunidades
)
from core.visualization import (
    top_paises,
    top_localizacoes,
    julgamentos_por_decada,
    distribuir_geograficamente
)

print("‚úÖ M√≥dulos importados com sucesso!")
print(f"üìÇ Caminho dos dados: {src_path/'dados.csv'}")

‚úÖ M√≥dulos importados com sucesso!
üìÇ Caminho dos dados: c:\Users\Aline\OneDrive\Documentos\GitHub\grafoWitchTrials\src\dados.csv

## 2. Carregamento e Pr√©-processamento dos Dados

In [17]:
# Carrega o arquivo CSV
try:
    df_raw = carregar_dados(str(src_path / "trials.csv"))
    print(f"üìä Dados carregados: {len(df_raw)} registros")
    display(df_raw.head(3))
except Exception as e:
    print(f"‚ùå Erro ao carregar CSV: {e}")

# Pr√©-processamento
df = preprocessar(df_raw)
print("\nüîç Dados ap√≥s pr√©-processamento:")
print(f"- Registros v√°lidos: {len(df)}")
print(f"- Colunas: {list(df.columns)}")
display(df.head(3))

üìä Dados carregados: 10940 registros

,year,decade,century,tried,deaths,city,gadm_adm2,gadm_adm1,gadm_adm0,lon,lat,record_source
0,NaN,1520,1500,1,1.0,NaN,NaN,NaN,Estonia,NaN,NaN,Madar (1990)
1,NaN,1530,1500,1,1.0,NaN,NaN,NaN,Estonia,NaN,NaN,Madar (1990)
2,NaN,1540,1500,5,5.0,NaN,NaN,NaN,Estonia,NaN,NaN,Madar (1990)

üîç Dados ap√≥s pr√©-processamento:
- Registros v√°lidos: 10940
- Colunas: ['year', 'decade', 'century', 'tried', 'deaths', 'city', 'gadm_adm2', 'gadm_adm1', 'gadm_adm0', 'lon', 'lat', 'record_source', 'is_desconhecido', 'localizacao']

,year,decade,century,tried,deaths,city,gadm_adm2,gadm_adm1,gadm_adm0,lon,lat,record_source,is_desconhecido,localizacao
0,NaN,1520,1500,1,1,NaN,NaN,NaN,Estonia,NaN,NaN,Madar (1990),True,NaN
1,NaN,1530,1500,1,1,NaN,NaN,NaN,Estonia,NaN,NaN,Madar (1990),True,NaN
2,NaN,1540,1500,5,5,NaN,NaN,NaN,Estonia,NaN,NaN,Madar (1990),True,NaN

## 3.Constru√ß√£o do Grafo de Rela√ß√µes

In [18]:
G = construir_grafo(df)

# Visualiza√ß√£o r√°pida do grafo
plt.figure(figsize=(12, 8))
nx.draw(
    G,
    with_labels=False,
    node_size=20,
    alpha=0.6,
    node_color="skyblue",
    edge_color="gray"
)
plt.title("Rela√ß√µes entre Localiza√ß√µes e D√©cadas", pad=20)
plt.show()

Grafo constru√≠do com:
- 968 locais
- 53 d√©cadas
- 3588 conex√µes

## 4.An√°lise Explorat√≥ria

# 4.1. Taxas de Mortalidade

In [19]:
total_julgamentos, total_mortes, taxa = calcular_taxas_mortalidade_geral(df)
display(Markdown(f"""
**üìå Taxa de Mortalidade Geral**  
- **Total de Julgamentos:** `{total_julgamentos}`  
- **Total de Mortes:** `{total_mortes}`  
- **Taxa de Mortalidade:** `{taxa:.2%}`  
"""))

Taxa de Mortalidade Geral:
Total de Julgamentos: 43240
Total de Mortes: 16333
Taxa de Mortalidade Geral (Mortes/Julgamentos): 0.3777

**üìå Taxa de Mortalidade Geral**
- **Total de Julgamentos:** `43240`
- **Total de Mortes:** `16333`
- **Taxa de Mortalidade:** `37.77%`

# 4.2. Top Pa√≠ses e Localiza√ß√µes

In [20]:
top_paises(df, G, n=10)
top_localizacoes(df, G, n=10)

,Localiza√ß√£o,Julgamentos,Mortes,Taxa Mortalidade
0,NaN,4048,1493,0.368824
777,"nan, Mecklenburg-Vorpommern, Germany",3844,0,0.000000
351,"nan, Scotland, United Kingdom",3563,190,0.053326
23,"nan, Vaud, Switzerland",3373,3371,0.999407
8,"nan, Fribourg, Switzerland",1230,330,0.268293
442,"nan, England, United Kingdom",1117,364,0.325873
967,"nan, Sachsen, Germany",894,300,0.335570
22,"nan, Valais, Switzerland",819,304,0.371184
12,"nan, Lucerne, Switzerland",770,167,0.216883
335,"nan, Rheinland-Pfalz, Germany",718,638,0.888579

# 4.3. Padr√µes Temporais por D√©cada

In [21]:
julgamentos_por_decada(df, G)

        Julgamentos  Mortes  Taxa Mortalidade
D√©cada
1300             48      38          0.791667
1310            116     102          0.879310
1320             71       5          0.070423
1330             53      23          0.433962
1340              9       0          0.000000
1350             15       0          0.000000
1360             12       1          0.083333
1370             30       5          0.166667
1380             31       2          0.064516
1390             38      14          0.368421
1400            202      54          0.267327
1410            181      46          0.254144
1420            561     421          0.750446
1430            249      78          0.313253
1440            255      87          0.341176
1450            234      75          0.320513
1460            120      39          0.325000
1470            145      35          0.241379
1480            406     188          0.463054
1490            207      98          0.473430
1500             85      38          0.447059
1510             99      37          0.373737
1520            120      46          0.383333
1530            145      60          0.413793
1540            234     105          0.448718
1550            402     162          0.402985
1560            716     243          0.339385
1570           1188     485          0.408249
1580           2257    1177          0.521489
1590           3705    1923          0.519028
1600           2726    1081          0.396552
1610           6035    1966          0.325766
1620           4741    2378          0.501582
1630           2723    1402          0.514873
1640           2909     986          0.338948
1650           2636     951          0.360774
1660           2446     562          0.229763
1670           1956     499          0.255112
1680           1522     193          0.126807
1690           1094     209          0.191042
1700            612     113          0.184641
1710            479     100          0.208768
1720            485     113          0.232990
1730            300      60          0.200000
1740            338      99          0.292899
1750            211      27          0.127962
1760             57       2          0.035088
1770             26       4          0.153846
1780              3       1          0.333333
1790              4       0          0.000000
1820              1       0          0.000000
1830              1       0          0.000000
1850              1       0          0.000000

# 4.4. Distribui√ß√£o Geogr√°fica

In [22]:
distribuir_geograficamente(df, G)

,Local,Julgamentos,Mortes,Latitude,Longitude,Pa√≠s
0,"Isny im Allgau, Baden-Wurttemberg, Germany",6,3,47.695000,10.042000,Germany
1,"Erolzheim, Baden-Wurttemberg, Germany",6,6,48.091700,10.070800,Germany
2,"Heidelberg, Baden-Wurttemberg, Germany",6,3,49.398800,8.672430,Germany
3,"Augsburg, Bayern, Germany",172,26,48.370545,10.897790,Germany
4,"Regensburg, Bayern, Germany",100,49,49.013430,12.101624,Germany
...,...,...,...,...,...,...
757,"Ortenberg, Hessen, Germany",10,0,50.355600,9.049020,Germany
758,"Langgons, Hessen, Germany",6,0,50.500000,8.666670,Germany
759,"Hitzkirchen, Hessen, Germany",1,0,50.342900,9.253200,Germany
760,"Kefenrod, Hessen, Germany",1,0,50.344700,9.210830,Germany
761,"Lichtenfels, Hessen, Germany",1,0,51.150000,8.800000,Germany

## 5. An√°lise de Redes

# 5.1. M√©tricas B√°sicas do Grafo

In [23]:
analisar_grafo(G)
mostrar_nos_com_maior_grau(G, top_n=10)
analisar_centralidades(G)
densidade_rede(G)

=== AN√ÅLISE ESTRUTURAL DA REDE ===
N√∫mero de n√≥s: 1021
N√∫mero de arestas: 3588
Grau m√©dio: 7.03
Componentes fracos conectados: 3
Tamanho do maior componente: 1017
N√≥ mais central (grau): 1610 - Centralidade: 0.2931

Top 10 n√≥s com maior grau:
1610: grau 299
1620: grau 280
1590: grau 277
1600: grau 258
1580: grau 182
1630: grau 177
1660: grau 167
1650: grau 163
1570: grau 139
1670: grau 137

Top 5 n√≥s por Centralidade de Grau:
1610: 0.2931
1620: 0.2745
1590: 0.2716
1600: 0.2529
1580: 0.1784

Top 5 n√≥s por Centralidade de Proximidade:
1610: 0.2931
1620: 0.2745
1590: 0.2716
1600: 0.2529
1580: 0.1784

Top 5 n√≥s por Centralidade de Intermedia√ß√£o:
nan: 0.0000
1520: 0.0000
1530: 0.0000
1540: 0.0000
1580: 0.0000

Densidade da rede: 0.0034

# 5.2. Detec√ß√£o de Comunidades

In [24]:
detectar_comunidades(G)

=== Detec√ß√£o de Comunidades ===
Total de comunidades detectadas: 968

c:\Users\Aline\OneDrive\Documentos\GitHub\grafoWitchTrials\src\core\graph_analysis.py:104: UserWarning: This figure includes Axes that are not compatible with tight_layout, so results might be incorrect.
  plt.tight_layout()

N√£o est√° funcionando
 
# Salva o grafo para an√°lise externa (Gephi, Cytoscape, etc.)
nx.write_gexf(G, str(src_path / "resultados" / "grafo_julgamentos.gexf"))

# Salva os dados processados
df.to_csv(str(src_path / "resultados" / "dados_processados.csv"), index=False)

print("‚úÖ Resultados exportados em:")
print(f"- üìä Grafo: {src_path/'resultados/grafo_julgamentos.gexf'}")
print(f"- üìÇ Dados: {src_path/'resultados/dados_processados.csv'}")

## 7. Conclus√£0

display(Markdown("""
## üìå Principais Insights  

1. **Padr√£o Geogr√°fico**:  
   - Pa√≠ses como `X` e `Y` concentraram mais julgamentos.  
   - A taxa de mortalidade foi maior em `Regi√£o Z`.  

2. **Varia√ß√£o Temporal**:  
   - D√©cadas como `AAAA` tiveram picos de atividade.  

3. **Rede de Rela√ß√µes**:  
   - `Local A` √© o n√≥ mais central na rede.  
   - Foram detectadas `N comunidades` geogr√°ficas.  

üîç **Pr√≥ximos passos**: An√°lise de correla√ß√£o entre fatores socioecon√¥micos e taxas de julgamento.  
"""))